/* used bg image from https://www.toptal.com/designers/subtlepatterns/ */
/* changed font to be more streamlined and matched color and position as close as possible to reference image provided in homework */
body {
  background-image: linear-gradient(white, #e6dff4, #b39dd9, #754fb7);
  font-family: sans-serif;
  font-size: 18px;
  color: #777;
  margin: auto; 
  position: relative;
}

/* adjusted navbar to preference in style, text and font, and color. */
.navbar-light .navbar-brand {
  font-family: fantasy;
  font-size: 20px;
  display: inline;
  color: white;
  text-align: center;
}

.nav-item {
  font-family: fantasy;
}

.nav-item:hover {
  box-shadow: 0 4px  8px  6px rgba(200, 359, 345, 0.60),
  0 6px 20px 10px rgba(224, 148, 248, 0.52);
}

/* .navbar-brand {
  padding: 15px ;
  margin: -10px;
} */

#nametag {
  color: #754fb7;
}

/* adjusted heading to be the same color, padding and margins throughout all pages*/
.container h1 {
  text-align: center;
  font-family: fantasy;
  color: #530eb0;
  padding: 20px;
  background: #fff;
  border-bottom: 2px solid #ccc;
  margin-bottom: 25px;
  width: 100%;
} 

 /* floated image to sit to the left of the text on about page */
#aboutImg {
  float: left;
  box-shadow: #b7acd6 0 0 10px 2px;
}

/* adjusted text to fit page better. still learning how to use 'em' but it worked here */
p {
  margin-right: 15px;
  margin-left: 15px;
  line-height: 1.75em;
}

/* adjusted color to match rest of page */
.table {
color: gray;
text-indent: 4px;
}

.table td, .table th {
  border-top: white;
  border-bottom: white;
}

/* portfolio page card adjusted shape and margins to be uniform */
figure {
  margin-top: 25px; 
  margin-bottom: 20px;
  color: white;
  bottom: 10%; 
  align-content: center; 
  box-shadow: #acabae 0 0 10px 2px;
} */

/* added shoadow on all project links to higight when hovered */
figure:hover {
  box-shadow: 0 4px  8px  6px rgba(200, 359, 345, 0.60),
              0 6px 20px 10px rgba(224, 148, 248, 0.52);
}

/* portfolio page card labels are all the same text, color, shape and margins */
.my-label {
  background-color: #530eb0;
  font-family: fantasy;
  font-size: 22px;
  color:lightgrey;
  position: absolute;
  bottom: 25px;
  width: 100%;
  box-shadow: #acabae 0 0 10px 2px;
}

/* shadow on all containers to make it less flat looking */
#aboutbox, #portfoliobox, #contactbox {
  box-shadow: #acabae 0 0 10px 2px;
  margin-bottom: 20%;
}

/* hover shadow for all links to give it color */
figure:hover, .form-control:hover, .btn:hover, .img-fluid:hover, #email:hover, #resume:hover, #linkedin:hover, #github:hover {
  box-shadow: 0 4px  8px  6px rgba(200, 359, 345, 0.60),
              0 6px 20px 10px rgba(224, 148, 248, 0.52);
}

/* adjusted the placeholder text */
.form-control {
  font-style: italic;
}

/* hover shadow for all links to give it color */
/* #linkedin, #github {
  margin-left: 25%;
} */

/* centered name on conact page with link images */
/* #resume {
  margin-left: 16%;
}

#name {
   padding-left: 16%
}  */
 
/* centered email on contact page with link images */
/* #email {
   margin-left: 18%;
}  */ 

.footer {
  border-color: #530eb0 !important;
  border-width: 4px !important;
} 
