/* box-sizing  ensuring padding in 3rd party software
.selector-for-some-widget {
    box-sizing: content-box;
  }
*/

body {
  background-image: url("../Images/bloom.png");
}
.navbar-light .navbar-brand {
  font-family: cursive;

  }

.aboutImg {
  float: left;  
  }


