/* used bg image from https://www.toptal.com/designers/subtlepatterns/ */
/* changed font to be more streamlined and matched color and position as close as possible to reference image provided in homework */
body {
  background-image: url("../Images/bloom.png");
  font-family: sans-serif;
  font-size: 18px;
  color: #777;
  margin: auto; 
  position: relative;
}

/* adjusted navbar to preference in style, text and font, and color. */
.navbar-light .navbar-brand {
  font-family: fantasy;
  font-size: 20px;
  background-color: #530eb0; 
  display: inline;
  color: white;
  text-align: center;
  box-shadow: grey 0 0 10px 2px;
}

.nav-item {
  font-family: fantasy;
}

.navbar-brand {
  padding: 15px ;
  margin: -10px;
}

/* adjusted heading to be the same color, padding and margins throughout all pages*/
.container h1 {
  font-family: fantasy;
  color: #530eb0;
  padding: 20px;
  background: #fff;
  border-bottom: 2px solid #ccc;
  margin-bottom: 25px;
  width: 100%;
} 

 /* floated image to sit to the left of the text on about page */
.aboutImg {
  float: left;
  box-shadow: #b7acd6 0 0 10px 2px;
}

/* adjusted text to fit page better. still learning how to use 'em' but it worked here */
p {
  margin-right: 15px;
  margin-left: 15px;
  line-height: 1.75em;
}

/* adjusted color to match rest of page */
.table {
color: gray;
text-indent: 4px;
}

.table td, .table th {
  border-top: white;
  border-bottom: white;
}

/* portfolio page card adjusted shape and margins to be uniform */
figure {
  margin-top: 20px; 
  margin-bottom: 15px;
  color: white;
  bottom: 10%; 
  width: 100%; 
  align-content: center;
  box-shadow: #acabae 0 0 10px 2px;
}

figure:hover {
  box-shadow: 0 4px  8px  6px rgba(200, 359, 345, 0.60),
  0 6px 20px 10px rgba(224, 148, 248, 0.52);
}


.img-responsive {
  margin-left: 12%;
}

.row {
  margin-left: -15px;
}


/* portfolio page card labels are all the same text, color, shape and margins */
.my-label {
  background-color: #530eb0;
  font-family: fantasy;
  font-size: 22px;
  color:lightgrey;
  position: absolute;
  bottom: 25px;
  width: 100%;
  box-shadow: #acabae 0 0 10px 2px;
}

 #aboutbox, #portfoliobox, #contactbox {
  box-shadow: #acabae 0 0 10px 2px;
 }

 /* #aboutbox:hover, #portfoliobox:hover, #contactbox:hover {
  box-shadow: 0 4px  8px  6px rgba(200, 359, 345, 0.60),
  0 6px 20px 10px rgba(224, 148, 248, 0.52);
 } */

 .contactlink:hover {
  box-shadow: 0 4px  8px  6px rgba(200, 359, 345, 0.60),
  0 6px 20px 10px rgba(224, 148, 248, 0.52);
 }
 
.form-control:hover {
  box-shadow: 0 4px  8px  6px rgba(200, 359, 345, 0.60),
  0 6px 20px 10px rgba(224, 148, 248, 0.52);
 }
}

/* tried a million times to get the color right on the footer!!  */
/* had to override bootstrap settings*/
.footer {
  border-color: #530eb0 !important;
  border-width: 4px !important;
}

