/* used bg image from https://www.toptal.com/designers/subtlepatterns/ */
/* changed font to be more streamlined and matched color and position as close as possible to reference image provided in homework */
body {
  background-image: url("../Images/bloom.png");
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  margin: auto; 
  position: relative;
}

/* adjusted navbar to preference in style, text and font, and color. */
.navbar-light .navbar-brand {
  font-family: cursive;
  font-size: 20px;
  background-color: mediumturquoise; 
  display: inline;
  color: white;
  text-align: center;
  /* margin-left: -15px; */
  }

  .navbar-brand {
    padding: 15px ;
    margin: -16px;
    
  }
 
  /* adjusted heading to be the same color, padding and margins throughout all pages*/
 .container h1 {
  color: mediumturquoise;
  padding: 20px;
  background: #fff;
  border-bottom: 2px solid #ccc;
  margin-bottom: 25px;
  width: 100%;
 } 

 /* floated image to sit to the left of the text on about page */
.aboutImg {
  float: left;
}

/* adjusted text to fit page better. still learning how to use em but it worked here */
p {
  margin-right: 15px;
  margin-left: 15px;
  line-height: 1.75em;
}

/* adjusted color to match rest of page */
.table {
color: gray;
text-indent: 4px;
}

.table td, .table th {
  border-top: white;
  border-bottom: white;
}

/* portfolio page card adjusted shape and margins to be uniform */
.card {
  margin-top: 20px; 
  margin-bottom: 15px;
  color: white;
  bottom: 10%;
  width: 100%;
}

/* portfolio page card labels are all the same text, color, shape and margins */
.my-label {
  background-color: mediumturquoise;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

/* tried a amillion times to get the color right on the footer!!  */
/* had to override bootstrap settings*/
.footer {
  border-color: mediumturquoise !important;
  border-width: 4px !important;
}

/* @media screen and (max-width: 768px) { */
 
/* .wrapper {
  width: 1024px;
} 
*/
